#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 0;
}

.form-container {
  border-top: 1px solid #000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-name {
  text-align: left;
  flex: 1;
}

.product-price {
  font-weight: bold;
  margin-left: 10px;
}

.product-action {
  margin-left: 10px;
}
