.title {
  padding: 10px;
  color: #fff;
  background-color: tomato;
  margin-bottom: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.cardCar {
  flex: 1 0 39%;
  width: 180px;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid tomato;
  border-radius: 20px;  
}